body, html {
  margin: 0;
  height: 100%;
}

body {
  padding-top: 20px;
padding-bottom: 20px;
}

.email-form {
  width: 400px;
  margin: 0 auto;
}

.jumbotron {
  background-color: #DE5ACC;
  color: white;
}

.navbar {
  background-color: #FFFFA5;
  text-color: white;
}

/*we use these classes to add background images to divs*/
.image-background {
    background: url("../img/cherryblossom.jpg");
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 100%;
  }

canvas {
  position: absolute;
  top: 10px;
}
