body, html {
  margin-top: 20px;
  height: 150%;
  font-family: lobster two;
}

h1,h2 {
  margin: 20px;
  text-align: center;
  font-family: lobster two;
}

h2,h1 {
  width: 0px;
  height: 100%;
  font-family: Niconne;
}

body {
  padding-top: 20px;
 padding-bottom: 20px;
}

p {
padding-top: 20px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 20px;
}

.landingmovie {
  width: 100%;
  min-width: 100%;
}

.video-foreground{
  position: absolute;
  top: 200px;
  color: white;
}

.email-form {
  width: 400px;
  margin: 0 auto;
}

.jumbotron {
  background-color: #DE5ACC;
  color: white;
}

.navbar {
  background-color: #FFFFA5;
  text-color: white;
}

  .carousel {
    padding-bottom: 50px;
    direction: right;
    position: fixed;
  }

canvas {
  position: absolute;
  top: 10px;
}

.container {
  padding-top: 100%
  padding-bottom: 100%
}

.carousel-indicators{
  bottom:0;
}

.carousel-indicators .active{
  background-color:#222;
}

.carousel-indicators li{
  border-color:#222;
}

h2 {
  font-size: 60px;
}

p {
  font-size: 30px;
}
